Source: python-isdhcplib
Section: python
Priority: extra
Maintainer: Alexander V. Ignatyev <ialx84@ya.ru>
Build-Depends: debhelper (>= 8.0.0), python-setuptools
Standards-Version: 1.0.0
Homepage: https://github.com/ialx/isdhcplib
Vcs-Git: git://github.com/ialx/isdhcplib.git

Package: python-isdhcplib
Architecture: all
Depends: ${python:Depends}
Provides: ${python:Provides}
Description: Dhcp client/server library
     Alexander V. Ignatyev <ialx84@ya.ru> / inspired by pydhcplib by Mathieu Ignacio

